@import '../../../../css/config.scss';

.wysiwyg-wrapper {
	.wysiwyg-inner {
		max-width: 45rem;
	}
	h1,
	h2,
	h3,
	h4,h5,h6,
	p:not(.contains-media),ul,ol {
		max-width: 39rem;
	}
	img,
	.video-iframe {
		margin-bottom: 25px;
	}
}